.collapse .collapse-item:nth-child(even) {
  margin-top: 10px;
}
.collapse-header {
  cursor: pointer;
  font-weight: bold;
}
.collapse-panel {
  padding: 10px;
  max-height: 300px;
  overflow: auto;
}

/* transition effect*/
.show-collapse-panel-enter {
  max-height: 0;
  overflow: hidden;
}
.show-collapse-panel-enter-active {
  max-height: 300px;
  transition: all 200ms ease-out;
}
.show-collapse-panel-exit-active {
  max-height: 0;
  transition: all 200ms ease-out;
  overflow: hidden;
}
